.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slider-circle{
    /* border: 1px solid white; */
  border-radius: 50%;
  position: absolute;
  top:50%;
  /* right: 3rem; */
  cursor: pointer;
  display: flex !important;
 
  justify-content: center !important;
  
  align-items: center !important;
  color: #808080;
  width: 3rem;
  height: 3rem;
  z-index:5;
  background: #FFFFFF36;

  /* border: 2px solid ; */

  /* border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.308) 0%, rgba(255, 255, 255, 0.518) 100%, rgba(255, 255, 255, 0.329) 100%); */
  
  





}


 
  .btnShape{    
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem 2rem;
    min-width:fit-content;    
    font-size:1rem;
    font-weight:500;
    color: #F3F4F6;
    transition:all 0.2s ease-in-out;
    background: #FFFFFF1A;
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%);   
    /* border: 1px solid #FFFFFF; */
    box-shadow: 0 0 0 10px #FFFFFF;
  }
 
@media(max-width:900px) {
    .btnShape{
        font-size:0.8rem;
        font-weight:400;
        padding:0.3rem 1rem;
    }
}

.btnShapeClicked{   
    background: linear-gradient(180deg, #3F8AE2 0%, #2362AB 100%);
    transition:all 0.2s ease-in-out;      
}

/* .line{
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem 2rem;
    min-width:fit-content;    
    font-size:1rem;
    font-weight:500;
    color: #F3F4F6;
    transition:all 0.2s ease-in-out;    
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%);
    z-index:0;
} */



