.getintouch{
     background: linear-gradient(180deg, #3F8AE2 0%, #2362AB 100%);

/* background:red; */
    /* background: linear-gradient(180deg, color(display-p3 0.2471 0.5412 0.8863) 0%, color(display-p3 0.137 0.3826 0.6708) 100%); */
    border-radius: 92px;
    font-weight: 500;
    /* padding:10px 32px 10px 32px */
   
    font-size: 18px !important;
    font-family: 'customFont';

}

.arrow{
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
}