.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slider-circle-prev{
    /* border: 1px solid white; */
  border-radius: 50%;
  position: absolute;
  top:45%;
  left:0;
  /* right: 3rem; */
  cursor: pointer;
  display: flex !important;
 
  justify-content: center !important;
  
  align-items: center !important;
  color: #808080;
  width: 3rem;
  height: 3rem;
  z-index:5;
  background: #FFFFFF36;

  /* border: 2px solid ; */

  /* border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.308) 0%, rgba(255, 255, 255, 0.518) 100%, rgba(255, 255, 255, 0.329) 100%); */
}
.slider-circle-next{
    /* border: 1px solid white; */
  border-radius: 50%;
  position: absolute;
  top:45%;
  right:0;
  /* right: 3rem; */
  cursor: pointer;
  display: flex !important;
 
  justify-content: center !important;
  
  align-items: center !important;
  color: #808080;
  width: 3rem;
  height: 3rem;
  z-index:5;
  background: #FFFFFF36;

  /* border: 2px solid ; */

  /* border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.308) 0%, rgba(255, 255, 255, 0.518) 100%, rgba(255, 255, 255, 0.329) 100%); */
}

.slider-circle-prev2{
    /* border: 1px solid white; */
  border-radius: 50%;
  /* position: absolute; */
  /* top:45%; */
  /* left:0; */
  /* right: 3rem; */
  cursor: pointer;
  display: flex !important;
 
  justify-content: center !important;
  
  align-items: center !important;
  color: #808080;
  width: 3rem;
  height: 3rem;
  z-index:5;
  background: #FFFFFF36;

  /* border: 2px solid ; */

  /* border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.308) 0%, rgba(255, 255, 255, 0.518) 100%, rgba(255, 255, 255, 0.329) 100%); */
}
.slider-circle-next2{
    /* border: 1px solid white; */
  border-radius: 50%;
  /* position: absolute; */
  /* top:45%; */
  /* right:0; */
  /* right: 3rem; */
  cursor: pointer;
  display: flex !important;
 
  justify-content: center !important;
  
  align-items: center !important;
  color: #808080;
  width: 3rem;
  height: 3rem;
  z-index:5;
  background: #FFFFFF36;

  /* border: 2px solid ; */

  /* border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.308) 0%, rgba(255, 255, 255, 0.518) 100%, rgba(255, 255, 255, 0.329) 100%); */
}