*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.blogsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:0;
   width: 100%;
}



.readOurBlog{
    /* background: url('/Ellipse.svg') no-repeat fixed center; */
    background-size: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

    width: 100%;
    /* background-color: red; */
    
}


.readOurBlog p{
    color: white;
    text-align: center;
}





.blogsContainer .blogsWithCategories .blogCategories{
    display: flex;
    justify-content: space-between;
    /* margin-top: 3em;     */
}

.blogsContainer .blogsWithCategories .blogCategories .active-tab{
    background-color: rgba(255,255,255,.1);
    color: #0066FF;
    border-radius: .5em;
    min-width: 3em;
    display: flex;
    align-items: center;
    width: auto;
}

.blogsContainer .blogsWithCategories .blogCategories .tab{
    transition: all .2s ease-in-out;
    color: white;
    outline: none;
    font-size: 1.7vw;
   
}





.blogsContainer .blogsWithCategories .allBlogs{
    /* background-image: url('/Ellipse.svg'); */
    background-size:70vw;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* border: 2px solid green; */
    min-height: 30em;
    padding-bottom: 13em;
    /* padding-left: .7em; */
    /* justify-content: space-between; */

}


.blog{
    width: 80%;
    min-height: 22.5em;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: space-between;
    padding: .7em;
    background-color: rgba(255,255,255,.1);
    color: white;
    border-radius: 1.2em;
    /* margin-top: 1em; */
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .blogsContainer .blogsWithCategories .allBlogs{
        /* background-image: url('/Ellipse.svg'); */
        background-size:80vh;
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        min-height: 30em;
        padding-bottom: 13em;
        padding-left: .7em;
        
    }
    
    .blog{
        width: 45%;
        min-height: 22.5em;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: .5em;
        justify-content: space-between;
        padding: .7em;
        background-color: rgba(255,255,255,.1);
        color: white;
        border-radius: 1.2em;
        margin-top: 1em;
        cursor: pointer;
    }

    .blogsContainer .blogsWithCategories .blogCategories .active-tab{
        background-color: rgba(255,255,255,.1);
        color: #0066FF;
        border-radius: .5em;
        min-width: 3em;
        display: flex;
        align-items: center;
        width: auto;
    }

    .blogsContainer .blogsWithCategories .blogCategories .tab{
        
        font-size: 1.5vw;
    }
    
}


@media screen and (min-width: 768px) {
    .blogsContainer .blogsWithCategories .allBlogs{
        /* background-image: url('/Ellipse.svg'); */
        background-size:120vh;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        min-height: 30em;
        padding-bottom: 13em;
        padding-left: .7em;
    
    }

    .blog{
        width: 45%;
        min-height: 22.5em;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: .5em;
        justify-content: space-between;
        padding: .7em;
        background-color: rgba(255,255,255,.1);
        color: white;
        border-radius: 1.2em;
        margin-top: 1em;
        cursor: pointer;
    }

    .blogsContainer .blogsWithCategories .blogCategories .active-tab{
        background-color: rgba(255,255,255,.1);
        color: #0066FF;
        border-radius: .5em;
        min-width: 3em;
        display: flex;
        align-items: center;
        width: auto;
    }

 



    
}


@media screen and (min-width: 1024px) {
    .blogsContainer .blogsWithCategories .allBlogs{
        /* background-image: url('/Ellipse.svg'); */
        background-size:100vh;
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        min-height: 30em;
        padding-bottom: 13em;
        padding-left: .7em;
    
    }

    .blog{
        width: 30%;
        min-height: 22.5em;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: .5em;
        justify-content: space-between;
        padding: .7em;
        background-color: rgba(255,255,255,.1);
        color: white;
        border-radius: 1.2em;
        margin-top: 1em;
        cursor: pointer;
    }

    .blogsContainer .blogsWithCategories .blogCategories .tab{
        transition: all .2s ease-in-out;
        color: white;
        outline: none;
        font-size: .9em;
       
    }

    .blogsContainer .blogsWithCategories .blogCategories .active-tab{
        background-color: rgba(255,255,255,.1);
        color: #0066FF;
        border-radius: .5em;
        min-width: 3em;
        display: flex;
        align-items: center;
        width: auto;
    }
    
    
}



.btnShape{    
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem 2rem;
    min-width:fit-content;    
    font-size:1rem;
    font-weight:500;
    color: #F3F4F6;
    transition:all 0.2s ease-in-out;
    background: #FFFFFF1A;
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%);   
    /* border: 1px solid #FFFFFF; */
    /* box-shadow: 0 0 0 10px #FFFFFF; */
    border-left:0.2px solid white;
    border-bottom:0px solid white;
  }
 
@media(max-width:900px) {
    .btnShape{
        font-size:0.8rem;
        font-weight:400;
        padding:0.3rem 1rem;
    }
}

.btnShapeClicked{   
    background: linear-gradient(180deg, #3F8AE2 0%, #2362AB 100%);
    transition:all 0.2s ease-in-out;      
}


.allBlogs{
    padding:0 !important;
    margin:0 !important;
    gap:2rem !important;
    width:100% !important;
    display:grid !important;
    grid-template-columns: repeat(3,1fr) !important;
    margin-inline:auto;
}

@media(max-width:1024px) {
    .allBlogs{
        grid-template-columns:repeat(2,1fr) !important;
    }
}

@media(max-width:600px) {
    .allBlogs{
        grid-template-columns:repeat(1,1fr) !important;
    }
}


.read-blog-svg{
    
    border: 1px solid #0066FF;
    /* border-radius: 1.2em; */
    z-index: 30;
   
}

.blogCategories{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    /* margin-top:3rem; */
    
}

.blogsWithCategories{
    
    /* width: 80%; */
    background-position: top;
    display: flex;
    flex-direction: column;
    /* gap: 1.5em; */
    /* border: 2px solid red; */
}
